<ol class="breadcrumb">
  <li class="breadcrumb-item"
      *ngFor="let item of breadcrumbList; let i = index"
      [class.active]="i===breadcrumbList.length-1">
    <!-- <h1 class="h4 mb-0 text-gray-800" *ngIf="i!==breadcrumbList.length-1">  {{ item.name }}</h1>
    <h1 class="h4 mb-0 text-gray-800" *ngIf="i===breadcrumbList.length-1">{{ item.name }}</h1>
        -->
    <a [routerLink]="(item.path == './dashboard') ? '/dashboard' : item.path" *ngIf="i!==breadcrumbList.length-1">
      {{ item.name }}
    </a>
    <span *ngIf="i===breadcrumbList.length-1">{{ item.name }}</span>

  </li>
</ol>
