/* You can add global styles to this file, and also import other style files */
@import "assets/css/sb-admin-2.css";
@import "assets/vendor/fontawesome-free/css/all.min.css";
@import "assets/vendor/datatables/dataTables.bootstrap4.min.css";

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
