
<!-- Content Row -->
<div class="row mb-4">
  <!-- Sender Card Example -->
  <div class="col-xl-3 col-md-6 mb-4" (click)="gotoDirect('sender')">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="h5 font-weight-bold text-dark text-uppercase">Tổ chức gửi yêu cầu (Sender)</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-paper-plane fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Receiver Card Example -->
<!--  <div class="col-xl-3 col-md-6 mb-4" (click)="gotoDirect('receiver')">-->
<!--    <div class="card border-left-success shadow h-100 py-2">-->
<!--      <div class="card-body">-->
<!--        <div class="row no-gutters align-items-center">-->
<!--          <div class="col mr-2">-->
<!--            <div class="h5 font-weight-bold text-dark text-uppercase">Tổ chức nhận lệnh (Receiver)</div>-->
<!--          </div>-->
<!--          <div class="col-auto">-->
<!--            <i class="fas fa-archive fa-2x text-gray-300"></i>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <!-- Debitcap Card Example -->
<!--    <div class="col-xl-3 col-md-6 mb-4" (click)="gotoDirect('debitcap')">-->
<!--    <div class="card border-left-info shadow h-100 py-2">-->
<!--      <div class="card-body">-->
<!--        <div class="row no-gutters align-items-center">-->
<!--          <div class="col mr-2">-->
<!--            <div class="h5 font-weight-bold text-dark text-uppercase">Quản lý hạn mức (Debitcap)</div>-->
<!--          </div>-->
<!--          <div class="col-auto">-->
<!--            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <!-- Inquiry/Copy Card Example -->
<!--  <div class="col-xl-3 col-md-6 mb-4" (click)="gotoDirect('inquirycopy')">-->
<!--    <div class="card border-left-warning shadow h-100 py-2">-->
<!--      <div class="card-body">-->
<!--        <div class="row no-gutters align-items-center">-->
<!--          <div class="col mr-2">-->
<!--            <div class="h5 font-weight-bold text-dark text-uppercase">Truy vấn và Copy (Inquiry/Copy)</div>-->
<!--          </div>-->
<!--          <div class="col-auto">-->
<!--            <i class="fas fa-clone fa-2x text-gray-300"></i>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>
<!-- End Row-->

<!-- Content Row -->
<div class="row mb-4">
<!--  &lt;!&ndash; Report Card Example &ndash;&gt;-->
<!--  <div class="col-xl-3 col-md-6 mb-4" (click)="gotoDirect('report')">-->
<!--    <div class="card border-left-danger shadow h-100 py-2">-->
<!--      <div class="card-body">-->
<!--        <div class="row no-gutters align-items-center">-->
<!--          <div class="col mr-2">-->
<!--            <div class="h5 font-weight-bold text-dark text-uppercase">Báo cáo (Report)</div>-->
<!--          </div>-->
<!--          <div class="col-auto">-->
<!--            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <!-- Config -->
  <div class="col-xl-3 col-md-6 mb-4" (click)="gotoDirect('config')">
    <div class="card border-left-dark shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="h5 font-weight-bold text-dark text-uppercase">Config</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-cogs fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Row-->
